.production-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 100px 0;
}
.production-content {
}
.production-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 100px 0;
}
