.list-category-item {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 50px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    padding-right: 50px;
    @media (max-width: 1230px) {
        flex-direction: column;
        gap: 20px;
        width: 220px;
        height: 210px;
        align-items: flex-start;
        border: 1px solid black;
        padding: 15px;
        border-radius: 10px;
    }
}

.list-category-item-cansek-edit {
    display: flex;
    gap: 20px;
    @media (max-width: 1230px) {
        flex-direction: row;
    }
}

.list-category-item-id {
    width: 50px;
    width: 100%;
    padding-bottom: 4px;
    border-bottom: 1px solid black;
}
.list-category-item-name {
    width: 200px;
    font-size: 19px;
    color: rgb(7, 7, 7);
    font-family: Jost, sans-serif;
    width: 100%;
    padding-bottom: 4px;
    border-bottom: 1px solid black;
}
.list-category-item-role {
    width: 150px;
    font-size: 19px;
    color: rgb(7, 7, 7);
    font-family: Jost, sans-serif;
    margin-right: 20px;
    width: 100%;
    padding-bottom: 4px;
    border-bottom: 1px solid black;
}
.list-category-item-edit {
    font-size: 19px;
    color: #a58256;
    font-weight: 500;
    font-family: Jost, sans-serif;
    cursor: pointer;
}
.list-category-item-delete {
    font-size: 19px;
    color: #a58256;
    font-weight: 500;
    font-family: Jost, sans-serif;
    cursor: pointer;
}
.list-category-name-input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: rgba(179, 178, 178, 0.338);
    border-bottom-right-radius: 5px;
    width: 90%;
    font-size: 16px;
    color: rgb(7, 7, 7);
    font-weight: 500;
    font-family: Jost, sans-serif;
    padding: 5px 9px;
}
.list-category-route-input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: rgba(179, 178, 178, 0.338);
    border-bottom-right-radius: 5px;
    width: 95%;
    font-size: 16px;
    color: rgb(7, 7, 7);
    font-weight: 500;
    font-family: Jost, sans-serif;
    padding: 5px 9px;
}
.list-category-item-delete:hover,
.list-category-item-edit:hover {
    color: #4f3b24;
}
