.list-user-container {
    margin-left: 30px;
    @media (max-width: 400px) {
        margin-left: 0px;
    }
}
.list-user-title {
    font-size: 26px;
    color: rgb(7, 7, 7);
    font-family: Jost, sans-serif;
    @media (max-width: 630px) {
        font-size: 20px;
    }
}
.list-user {
    @media (max-width: 1260px) {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    @media (max-width: 630px) {
        align-items: center;
        justify-content: center;
    }
}
.list-user-header {
    //width: 67%;
    display: flex;
    align-items: center;
    //justify-content: space-between;
    height: 50px;
    margin-bottom: 30px;
    border-left: 1px solid black;
    padding-right: 50px;
}
.list-user-header-id {
    width: 50px;
    height: 100%;
    color: #a58256;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.list-user-header-name {
    width: 130px;
    font-size: 19px;
    color: #a58256;
    font-family: Jost, sans-serif;
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.list-user-header-mail {
    width: 230px;
    font-size: 19px;
    color: #a58256;
    font-family: Jost, sans-serif;
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.list-user-header-confirmed {
    width: 100px;
    font-size: 19px;
    color: #a58256;
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.list-user-header-role {
    width: 190px;
    font-size: 19px;
    color: #a58256;
    font-family: Jost, sans-serif;
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.list-user-header-setting {
    width: 250px;
    font-size: 19px;
    color: #a58256;
    font-family: Jost, sans-serif;
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.list-user-title-refresh {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 893px;
    margin-bottom: 50px;
    @media (max-width: 1150px) {
        width: 700px;
    }
    @media (max-width: 950px) {
        width: 600px;
    }
    @media (max-width: 855px) {
        width: 380px;
    }
    @media (max-width: 630px) {
        margin-top: 20px;
        width: 300px;
    }
}
.list-user-refresh {
    cursor: pointer;
    font-size: 21px;
    color: rgb(7, 7, 7);
    font-family: Jost, sans-serif;
    @media (max-width: 630px) {
        font-size: 18px;
    }
}
.list-user-refresh:hover {
    color: #a58256;
}
