.list-goods-container {
    margin-left: 30px;
}
.list-goods-content {
}
.list-goods-title-refresh {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 893px;
    margin-bottom: 50px;
}
.list-goods-title {
    font-size: 26px;
    color: rgb(7, 7, 7);
    font-family: Jost, sans-serif;
}

.list-goods-refresh {
    cursor: pointer;
    font-size: 21px;
    color: rgb(7, 7, 7);
    font-family: Jost, sans-serif;
}

.list-goods-refresh:hover {
    color: #a58256;
}
.list-goods-item-list {
}
