.error-page-container {
    max-width: 1222px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
}
.error-page-img {
    width: 50%;
    margin: 0 auto;
}
.error-page-text {
    font-size: 19px;
    color: #b87a3f;
    font-family: Jost, sans-seri;
    margin-bottom: 20px;
}
