.basket-of-goods {
    font-size: 36px;
    height: 200px;
    color: rgb(7, 7, 7);
    font-family: Jost, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.basket-of-goods-container {
    max-width: 1700px;
    margin: 0 auto;
    min-height: 60vh;
    padding: 0 10px;
}
.basket-of-goods-content {
    margin-top: 50px;
}

.basket-of-goods-title-total-order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 530px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.basket-of-goods-title {
    font-size: 26px;
    color: rgb(7, 7, 7);
    font-family: Jost, sans-serif;
    margin: 30px 0;
    @media (max-width: 530px) {
        margin: 20px 0;
    }
}
.basket-of-goods-total-order {
    display: flex;
    align-items: center;
    gap: 50px;
    @media (max-width: 530px) {
        gap: 10px;
    }
}
.basket-of-goods-total {
    font-size: 19px;
    color: rgb(165, 130, 86);
    font-family: Jost, sans-serif;
    font-weight: 700;
    text-wrap: nowrap;
}
.basket-of-goods-total span {
    font-size: 17px;
    color: rgb(7, 7, 7);
    font-weight: 500;
}
.basket-of-goods-order {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 170px;
    padding: 5px 10px;
    border: none;
    height: 40px;
    font-family: Jost, sans-serif;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgb(168 122 64);
    background: rgb(165, 130, 86);
    color: #fefcfc;
    @media (max-width: 530px) {
        padding: 0px 5px;
    }
}
.basket-of-goods-lists {
    font-size: 26px;
    color: rgb(7, 7, 7);
    font-family: Jost, sans-serif;
    margin: 30px 0;
}
.basket-of-goods-lists {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
    @media (max-width: 930px) {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
}
.basket-of-goods-list-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(110, 108, 108);
    padding-bottom: 20px;
    margin-bottom: 20px;
    @media (max-width: 930px) {
        display: none;
    }
}
.basket-list-header-close-img {
    //width: 120px;
}
.basket-list-header-name {
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    font-size: 19px;
    color: rgb(165 130 86);
    font-family: Jost, sans-serif;
    font-weight: 700;
}
.basket-list-header-price {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    color: rgb(165 130 86);
    font-family: Jost, sans-serif;
    font-weight: 700;
}
.basket-list-header-weight {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    color: rgb(165 130 86);
    font-family: Jost, sans-serif;
    font-weight: 700;
}
