.bread-crumbs-container {
    padding: 0 10px;
}
.bread-crumbs-content {
    background: linear-gradient(90deg, rgba(204, 162, 117, 1) 0%, rgba(255, 255, 255, 1) 100%);
    padding: 7px 33px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    gap: 15px;
    @media (max-width: 400px) {
        flex-wrap: wrap;
    }
}
.bread-crumbs-content-product {
    flex-wrap: wrap;
}

.bread-crumbs-content img {
    width: 13px;
}
.bread-crumbs-text {
    font-family: Jost, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #3a3a3a;
}
