.personal-area-container {
    max-width: 1700px;
    margin: 0 auto;
    min-height: 60svh;
    padding: 0 10px;
}
.personal-area-content {
    margin: 50px 0;
}
.personal-area-title-greetings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid burlywood;
}
.personal-area-title {
    font-size: calc(19px + 7 * ((100vw - 320px) / (1700 - 320)));
    color: rgb(7, 7, 7);
    font-family: Jost, sans-serif;
}
.personal-area-greetings {
    font-size: 21px;
    font-size: calc(17px + 4 * ((100vw - 320px) / (1700 - 320)));

    color: rgb(7, 7, 7);
    font-family: Jost, sans-serif;
}
.personal-area-interaction {
    display: flex;
    @media (max-width: 640px) {
        flex-direction: column;
    }
}
.personal-area-sidebar {
    min-width: 200px;
    border-right: 1px solid black;
    padding-right: 15px;
    @media (max-width: 640px) {
        border: none;
        width: 100%;
    }
}
.personal-area-sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: 640px) {
        flex-direction: row;
        margin-bottom: 20px;
        overflow: scroll;
        padding: 10px 0;
    }
}
.personal-area-sidebar-active {
    font-size: 19px;
    color: #b87a3f;
    font-family: Jost, sans-serif;
    text-wrap: nowrap;
}
.personal-area-sidebar-pending {
    font-size: 19px;
    color: rgb(7, 7, 7);
    font-family: Jost, sans-serif;
    text-wrap: nowrap;
}
.no-access {
    font-size: 39px;
    color: rgb(7, 7, 7);
    font-family: Jost, sans-serif;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
