.user-panel-container {
}
.user-panel-content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}
.user-panel-content img {
    cursor: pointer;
}
.user-panel-content .user-panel-link {
    padding: 10px 0;
}
.person-menu {
    position: absolute;
    border-radius: 5px;
    width: 150px;
    top: 41px;
    right: 36px;
    padding: 15px;
    background-color: rgb(199, 160, 117);
    z-index: 70;
}
.person-menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.person-menu-link {
    cursor: pointer;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    font-family: Jost, sans-serif;
    font-weight: 400;
}
.person-menu-link-exit {
    cursor: pointer;
    color: rgb(5, 5, 5);
    font-size: 16px;
    font-family: Jost, sans-serif;
    font-weight: 400;
}
.person-menu-link-exit:hover {
    color: rgb(240, 212, 183);
}
.person-menu-link:hover {
    color: rgb(240, 212, 183);
}
.heart-menu {
}
.bag-menu {
    position: absolute;
    border-radius: 5px;
    width: 250px;
    top: 41px;
    right: 0px;
    padding: 15px;
    background-color: rgb(199, 160, 117);
    z-index: 70;
}
.link-favorites {
    position: relative;
}
.link-basket {
    position: relative;
}
.heart-menu-count {
    position: absolute;
    top: 20px;
    right: -5px;
    display: flex;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    font-family: Jost, sans-serif;
    border: 1px solid rgb(136, 132, 132);
    background-color: #c4beb4;
    font-weight: 500;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}

.bag-menu-wrap {
    display: flex;
    align-items: center;
    gap: 15px;
}
.bag-menu-text {
    font-size: 17px;
    font-family: Jost, sans-serif;
    color: #3a3a3a;
    font-weight: 500;
    margin-bottom: 10px;
}
.person-menu-flex {
    line-height: 150%;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    font-family: Jost, sans-serif;
    font-weight: 400;
}
.person-menu-link-btn {
    border-radius: 5px;
    width: 135px;
    height: 26px;
    border: none;
    text-wrap: nowrap;
    background: #f5f5f5;
    font-family: Jost, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
}
