.bonus-account-container {
    margin-left: 30px;
}
.bonus-account-content {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #3a3a3a;
}

.bonus-account-content span {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    color: #3a3a3a;
}
