.history-of-orders-container {
    margin-left: 30px;
}
.history-of-orders-content {
}
.history-of-orders-title {
    font-family: Jost, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #3a3a3a;
}
.history-of-orders-items {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.history-of-orders-btns {
    margin: 15px 0;
}
.history-of-orders-btn {
    border-radius: 5px 0 0 5px;
    border: none;
    width: 133px;
    height: 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    font-family: Jost, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #3a3a3a;
    cursor: pointer;
}
.history-of-orders-btn-disabled {
    border-radius: 5px 0 0 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: none;
    width: 133px;
    height: 30px;
    background: #f5f5f5;
    font-family: Jost, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #696969;
    cursor: pointer;
}
