.history-of-orders-container {
    margin-left: 30px;
}
.history-of-orders-content {
}
.history-of-orders-title {
    font-family: Jost, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #3a3a3a;
}
.history-of-orders-items {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
